.caja_proyecto{
  width: 390px;
  height: 390px;
  background-image: url('/img/Fotos_Casa_Todo0011.JPG');
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 60px;
  float: left;
  margin-left: 50px;
}
