  .footer_superior{
    width: 100%;
    height: 170px;
    background-color: #F3F4F0;
    .iconos_lista{
      ul{
        li{
          width: 0px;
         padding: 20px;
        }
      }
    }
    ul{
      display: flex;
      list-style: none;
      padding: 0px;
      margin-top: 5px;
      li{
        margin-right: 20px;
      }
    }
  }

  .footer_inferior{
    width: 100%;
    height: 95px;
    background-color: #1B998B;
    .marges{
      padding-bottom: 0px;
    }
    ul{
      display: flex;
      list-style: none;
      padding-left: 0px;
      margin: 0px;
      padding-top: 25px;
      li{
      margin-right: 20px;
      a:link{
        text-decoration: none;
      }
      .mail{
        margin: 0px;
        color: white;

      }
      }

    }

    }
