.contenido{
  width: 100%;
  padding-top: 120px;
  .descripcion{
    width: 100%;
    height: auto;
    background-color: white;
    padding-top: 0px;
    }

  .estudios_conocimiento{
    width: 100%;
    .estudios{
      width: 100%;
      height: auto;
      background-color: #E9F4F3;
      padding-top: 0px;
      }
    .conocimientos{
      .marges{
        padding: 30px;
      }
      width: 100%;
      height: auto;
      background-color: #E9F4F3;
      margin-top: 60px;
      .conocimientos_img{
        width: 100%;
      }
      }

    }
  .experiencia{
    width: 100%;
    height: 458px;
    background-color: #E9F4F3;
    padding-top: 0px;
  }
}
