.contenido{
  width: 100%;
  height: auto;

  .descripcion_contacto{
    width: 100%;
    height: auto;
    padding-top: 40px;
  }
.foto_contacto{
  width: 100%;
  margin-left: auto;
  img{
    width: 100%;
    height: auto;
    padding-top: 20px;
    margin-right: auto;
    padding-bottom: 0px;
  }
}
}
