/* MEDIA QUERY MARGES*/

/*Cambio*/
.boton_menu{
  display: none;}
@media (max-width: 890px){
  .contenido .estudios_conocimiento .conocimientos .marges{
    padding: 0px 55px 40px 55px;
  }
    .marges {
    padding: 0px 55px 40px 55px;}
    .foto_home{
      margin: inherit;
      }
      img{
        margin: auto;
        padding-bottom: 0px;

      }
    }

  /*Cambio*/
  /*Tablet*/

  @media (max-width:527px){
    img.portada{
      width: 100%;
      position: absolute;
    bottom: 0;
    }
  }
  @media (max-width:700px){

      .menu_nav{
        display: none;
      }
      .boton_menu{
      display: block;
      }
      .contenido .descripcion_contacto{
        padding-top: 0px;
        width: 100%;
        img {
          width: 100%;
        }
      }


  }
  @media (max-width:700px) {
    .contenido .estudios_conocimiento .conocimientos{
      background-color: white;
    }
  }
@media (min-width:700px) {

  .contenido .foto_contacto{
    width: 100%;
    float: right;
    padding-top: 50px;
    padding-bottom: 25px;
  }
  .footer_superior{
    float: left;
  }
  .footer_inferior{
    float: left;
  }
  .contenido .descripcion_contacto{
    padding-top: 100px;
    width: 100%;
    img {
      width: 100%;
    }
  }
  .contenido .descripcion_contacto{
    padding-top: 0px;
    width: 100%;
    img {
      width: 100%;
    }
  }
  .contenido{
    ul{
      width: 100%;
      display: flex;
    li{
      width: 50%;
      padding: 25px;
    }
    li.primer-li{
      width: 50%;
      padding-left: 0px;
    }
    }
  }
  .contenido .experiencia{
    background-color: white;
  .marges{
    padding: 0px;

  }
  }
  .contenido .estudios_conocimiento .estudios{
    .marges{
      padding: 30px;
    }
  }

}


  /*Tablet*/
  /*Start Mobil*/
  @media (max-width:481px){
    .contenido .estudios_conocimiento .conocimientos .marges{
      padding: 0px 25px 40px 25px;
    }
    .contenido .experiencia{
      height: auto;
    }
      .marges{
      padding: 0px 25px 40px 25px;}
      .logo_img{width: 130px;}
      .box_content_header{height: 45px;}
    .contenido .descripcion_contacto{
      padding-top: 0px;
      width: 100%;
      img {
        width: 100%;
      }
    }

  }

  /*Fin Mobil*/
  @media (min-width: 1180px){
    .contenido .descripcion_contacto{
      padding-top: 40px;
    }
  }

/* MEDIA QUERY MARGES*/
