.contenido{

  .el_proyecto{
    img{
      width: 100%;
      height: auto;
      padding-top: 20px;
      padding-bottom: 40px;
    }
  }
  ul{
    padding-left: 0px;
    list-style-type: none;
    li{
      padding-bottom: 20px;
      padding-top: 20px;

    }
  }
}
